*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

nav{
    display: flex;
    align-items: center;

    height: 75px;
    
    background-color:#0084fd;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0 30px;
}

nav .menu .int{
    display: flex;
    align-items: center;

    gap: 30px;
}

nav .menu .int i{
    font-size: 30px;
}

nav .menu .int ul{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;

}

nav .menu .int ul .link{
    display: none;

    font-size: 16px;

    text-decoration: none;

    color: white;
}

nav .menu .int ul .link:nth-of-type(5){
    color: black;

    background-color: white;

    padding: 6px 8px;

    border-radius: 25px;
}

/* container */

main .container .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    padding: 50px 30px 80px;
}


main .container .col .card{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;

    padding: 40px 30px 0 30px;

    background-color: #b5ddff;

    border-radius: 25px;

}

main .container .col .card .text-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

main .container .col .card .text strong{
    font-size: 1.5em;
    font-weight: 700;

    color: #0084fd;
}

main .container .col .card .text-2 strong{
    padding-top: 30px;
}

main .container .col .card .text-2 i{
    font-size: 80px;

    color: #0084fd;
}

main .container .col .card .text p{
    padding: 40px 0;

    line-height: 30px;

    font-size: 1em;
    font-weight: bold;

    color:#5a6e7f ;
}

main .container .col .card .text a{

    color: white;

    font-weight: 700;
    letter-spacing: 3px;

    text-decoration: none;

    padding: 15px  10%;

    border-radius: 25px;

    background-color: #0084fd;
}

main .container .col .card .img{
    display: flex;

    margin-top: 40px;
}

main .container .col .card .img  div img{
    display: block;

    width: 100%;
}

/* planning */

main .plannig{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

    background-color:rgb(151,146,228);

    padding: 50px 30px;
}

main .plannig  .container .img-text{
    margin-bottom: 40px;
}

main .plannig  .container .img-text img{
    width: 100%;
}

main .plannig  .container .img-text strong{
    display: block;

    font-size: 2em;
    font-weight: 700;

    color: white;

    
    padding: 60px 0;
}

main .plannig  .container .img-text p{
    color: white;

    font-size: 1rem;

    line-height: 25px;
}

main .plannig .container .app-dev{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: 50px;

    padding: 25px 25px;

    width: 100%;

    background-color: white;
}

main .plannig .container .app-dev img{
    width: 100%;
}

main .plannig  .container .app-dev .text{
    text-align: center;
}

main .plannig  .container .app-dev .text strong{
    display: block;

    padding-top: 15px;

    font-size: 1.5em;
}

main .plannig .container .app-dev .text p{
    padding: 30px 0 ;

    font-style: italic;

    line-height: 30px;
}

main .plannig .container .app-dev .text a{
    color: black;

    display: inline-block;    

    background-color: rgb(151,146,228);

    width: 50px;
    height: 50px;

    padding: 15px;

    border-radius: 50%;
}

/* testimonials */

main .testimonials{
    display: flex;
    justify-content: center;
}

main .testimonials .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;


    padding: 70px 30px 100px;
}

main .testimonials .col .text{
    text-align: center;

    margin-bottom: 30px;
}

main .testimonials .col .text .tes{
    font-size: large;
}

main .testimonials .col .text strong{
    display: block;

    padding: 30px 0;

    font-size: 2.3em;

    color: rgb(151,146,228);
}

main .testimonials .col .text p{
    line-height: 30px;

    font-size: 1.3em;
}

main .testimonials .col  .card{
    
    width: 100%;

    text-align: center;

    padding: 25px 25px;

    border-radius: 50px;

    background-color:rgb(151,146,228);
}

main .testimonials .col .card .box-img img{
    width: 200px;
    height: 200px;

    object-fit: cover;

    border-radius: 50%;
}

main .testimonials .col  .card .ct{
    margin: 30px 0 40px;


    color: white;

    line-height: 25px;
}

main .testimonials .col  .card .ct i{
    font-size: 20px;
}

main .testimonials .col  .card .name{
    font-size: large;
    
    color: white;

    font-weight: bold;
}

/* benefits */

main .benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 70px 30px 60px;

    background-color:rgb(151,146,228);
}

main .benefits .title{
    display: flex;
    justify-content: center;

    text-align: center;

    margin-bottom: 70px;

    color: white;
}

main .benefits .title strong{
    font-size: 2em;
}

main .benefits .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

}

main .benefits .col .card{
    width: 100%;

    border-radius: 25px;

    padding: 25px 25px;

    background-color: white;
}

main .benefits .col .card strong{
    font-size: 2em;

    color: rgb(151,146,228);
}

main .benefits .col .card strong:nth-of-type(2){
    display: block;

    font-size: 1.5em;

    margin: 35px 0;
}

main .benefits .col .card p{
    margin-bottom: 30px;

    line-height: 30px;
}

main .benefits .col .card a{
    text-decoration: none;

    color: white;

    background-color: rgb(151,146,228);

    padding: 10px 50px;

    border-radius: 25px;
}

/* about-us */

main .about-us{
    padding: 80px 30px 90px;
}

main .about-us .container .text strong{
    color: rgb(151,146,228);


    font-size: 2.5em;
}

main .about-us .container .text p:nth-of-type(1){
    margin: 55px 0 50px;

    font-size: 19px;

    line-height: 40px;
}

main .about-us .container .text p:nth-of-type(2){
    margin-bottom: 55px;

    font-size: 19px;

    line-height: 40px;
}

main .about-us .container .help .img-box{
    width: 100%;

    position: relative;
}

main .about-us .container .help .img-box i{
    color: rgb(151,146,228);

    display: block;

    font-size: 65px;

    top: 30px;
    left: 130px;

    position: absolute;
}

main .about-us .container .help .img-box img{
    height: 180px;
    width: 180px;

    border-radius: 50%;
}

main .about-us .container .help strong{
    display: block;

    font-size: 2.2em;

    margin: 30px 0;

    color: rgb(151,146,228);
}

main .about-us .container .help a{
    background-color: #9792e4;

    text-decoration: none;

    color: white;

    border-radius: 25px;

    padding: 8px 15px;

}

/* get-started */

main .get-started{
    text-align: center;

    padding: 70px 30px;

    background-color:rgb(151,146,228) ;
}

main .get-started p{
    color: white;

    font-size: 1.1em;
}

main .get-started p:nth-of-type(2){
    margin-left: auto;
    margin-right: auto;

    max-width: 460px;
}

main .get-started strong:nth-of-type(1){
    display: block;

    color: white;

    font-size: 2em;

    margin: 25px 0 0;
}

main .get-started strong:nth-of-type(2){
    display: block;

    font-size: 4em;

    color: #fdc15f;

    margin-bottom:45px ;
}

main .get-started .button{

    display: block;

    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;

    color: rgb(151,146,228);

    background-color: white;

    margin: 40px 0;
    padding: 15px 25px;

    border-radius: 25px;

    width: 70%;
    max-width: 205px;

    margin-left: auto;
    margin-right: auto;
}

main .get-started span,main .get-started .privacy{
    color: white;
}

/* footer */

footer{
    padding: 40px 30px;

    background-color: #222222;
    color: white;
}

footer .pdp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    text-align: center;

    max-width: 410px;

    margin-left: auto;
    margin-right: auto;
}

footer .pdp p{
    width: 100%;
}

footer .pdp div a{
    color: #9792e4;
}

/* query */

@media screen and (min-width: 768px){
    
        /* nav */

        nav{
            display: flex;
            justify-content: center;
    
            padding: 0;
        }
    
        nav .link{
            display: flex;
            justify-content: space-between;
        }

        

    /* 1 */

    main .container .col{
        justify-content: space-around;
    }
    
    main .container .col .card{
        display: flex;
        align-items: flex-start;

        width: calc(100% / 3 - 25px);
    }

    main .container .col .card:nth-of-type(1){
        justify-content: flex-start;

        width: calc(100% / 3 * 2 - 15px);
    }

    main .container .col .card .text a{
        padding: 15px 10%;
    }

    main .container .col .card .img{
        display: flex;
        justify-content: flex-start;

        width: 55%;
    }

    /* 2 */

    main .plannig .container .img-text .box-img{
        padding: 40px 30px 0 30px;
    }

    main .plannig .container .img-text .box-img img{
        width: 100%;
    }

    /* 3 */

    main .testimonials .col .card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        
        height: 280px;

        text-align: justify;



    }

    /* 4 */

    main .benefits .col .card{
        width: calc(100% / 2 - 25px);
    }

    /* 5 */

    main .about-us .container{
        display: flex;

        padding: 0 30px;

        gap: 90px;
    }

    main .about-us .container .text{
        padding-right: 30px;
    }

    main .about-us .container .text strong{
        font-size: 4em;
    }

    main .about-us .container .help strong{
        font-size: 1.5em;
    }

    main .about-us .container .help a{
        font-size: 13px;
    }

    
main .about-us .container .text p:nth-of-type(1){
        font-size: 20px;

        margin-top: 30px;
    }
}
@media screen and (min-width: 992px){
     
    /* nav */

    nav{
        display: flex;
        justify-content: center;

        padding: 0;
    }

    nav .menu{
        display: flex;
        justify-content: space-between;

        width: 100%;

        max-width: 1200px;

    }

    nav .menu .int ul .link{
        display: block;
    }

    nav .menu .int i{
        display: none;
    }


    /* 1 */

    main .container{
        display: flex;
        justify-content: center;
    }

     main .container .col{

        justify-content: space-around;
        max-width: 1200px;
    }
    
    main .container .col .card{
        width: calc(100% / 3 - 25px);
        
    }

    main .container .col .card .text{
        width: 100%;
    }

    main .container .col .card:nth-of-type(1) .text p{
        width: 75%;

        padding: 40px 0 55px;
    }

    main .container .col .card:nth-of-type(1) .img{
        display: block;
        margin-right: 5%;
        width: 80%;
    }

    main .container .col .card:nth-of-type(1) .img div img{
        height: 100%;
        width: 100%;
    }
        

    main .container .col .card:nth-of-type(1){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        width: calc(100% / 3 * 2 - 15px);
        min-width: 606px;
        
    }

    main .container .col .card:nth-of-type(1) .img{
        align-self: flex-end;

    }


    /* 2 */

    main .plannig {
        flex-wrap: nowrap;
    }

    main .plannig .container{
        display: flex;
        align-items: flex-end;

        max-width: 875px;
    }

    main .plannig .container .app-dev{
        margin-left: 50px;
    }

    main .plannig .container .app-dev .box-img{
        width: 75%;
    }

    /* 3 */

    main .testimonials{
        padding: 0 30px;
    }

    main .testimonials .col{
        max-width: 1140px;

        padding: 70px 0 100px;
    }

    /* 4 */

    main .benefits .title{
        width: 100%;

        
    }

    main .benefits .col{
        max-width: 1140px;
    }

    main .benefits .col .card{
        width: calc(100% / 3 - 25px);
    }

     /* 5 */

     main .about-us{
        display: flex;
        justify-content: center;

        padding: 80px 0 60px;

        
    }

    main .about-us .container{
        display: flex;
        gap: 90px;
        max-width: 1040px;
    }

    main .about-us .text{
        width: 100%;
    }

    main .about-us .container .help strong{
        font-size: 1.5em;

        width: 200px;
    }
}
