*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 75px;

    padding: 0 30px;
    
    background-color:rgb(0,132,253);
}

/* container */

main .container .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

    padding: 50px 30px 80px;
}


main .container .col .card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    height: 360px;
    width: 100%;

    padding: 40px 40px;

    background-color: #b5ddff;

    border-radius: 25px;

}

main .container .col .card:first-child{
    height: 605px;

}

main .container .col .card .text{
    text-align: left;
}

main .container .col .card .text p{
    padding: 40px 0;
}

/* planning */

main .plannig{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px;

    background-color:rgb(151,146,228);

    padding: 40px 30px;
}

main .plannig .img-text strong{
    display: block;
    
    padding: 60px 0;
}

main .plannig .app-dev{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: 50px;

    padding: 25px 25px;

    
    height: 615px;
    width: 100%;

    background-color: white;
}

main .plannig .app-dev .text{
    text-align: center;
}

main .plannig .app-dev .text p{
    padding:30px 0 ;
}

/* testimonials */

main .testimonials .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;


    padding: 70px 30px 100px;
}

main .testimonials .col .text{
    text-align: center;

    margin-bottom: 30px;
}

main .testimonials .col .text strong{
    display: block;
    padding: 40px 0;
}

main .testimonials .col  .card{
    height: 500px;
    width: 100%;

    text-align: center;

    padding: 25px 25px;

    border-radius: 50px;

    background-color:rgb(151,146,228);
}

main .testimonials .col  .card .ct{
    margin: 30px 0 40px;
}

/* benefits */

main .benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 70px 30px 60px;

    background-color:rgb(151,146,228);
}

main .benefits .title{
    margin-bottom: 70px;

    color: white;
}

main .benefits .col{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

}

main .benefits .col .card{
    height: 400px;
    width: 100%;

    border-radius: 25px;

    padding: 25px 25px;

    background-color: white;
}

main .benefits .col .card strong{
    color: rgb(151,146,228);
}

main .benefits .col .card strong:nth-of-type(2){
    display: block;

    margin: 35px 0;
}

main .benefits .col .card p{
    margin-bottom: 30px;
}

/* about-us */

main .about-us{
    padding: 80px 30px 90px;
}

main .about-us .text p:nth-of-type(1){
    margin: 55px 0 70px;
}

main .about-us .text p:nth-of-type(2){
    margin-bottom: 55px;
}

main .about-us .help strong{
    display: block;

    margin: 30px 0;

    color: rgb(151,146,228);
}

/* get-started */

main .get-started{
    text-align: center;

    padding: 70px 30px;

    background-color:rgb(151,146,228) ;
}

main .get-started strong:nth-of-type(1){
    display: block;

    margin: 30px 0 45px;
}

main .get-started strong:nth-of-type(2){
    display: block;

    margin-bottom:45px ;
}

main .get-started .button{

    margin: 40px 0;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    text-align: center;

    padding: 40px 30px;

    background-color: #222222;
    color: white;
}